@font-face {
    font-family: 'Koloss';
    src:  url('styles/Koloss.ttf') format('truetype');
  }
* {
  margin: auto;
    padding: 0;
    
}

body {

    text-align: center;
    font-family: Koloss;
    background-color: #E8C54D;
}



h1 {
    z-index: 600;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    color: #e5dcdd;
    font-size: 2,5em;
 
}

h2 {
  z-index: 600;
  position: absolute;
  top: 90px;
  width: 100%;
  text-align: center;
  color: #e5dcdd;
  font-size: 2em; 
}


/* -- lucht */

#vrouwtjes {
    position: absolute;
    width: 100%;
    align-items: center;
    top: 0;
    margin: 0 auto;
    z-index: 3;
    transform: scale(0.7);

}

#vrouwtjeBlauw:hover {
    transform: translateX(-20px);
}

#vrouwtjeBlauw:active #Vector_3  {
   
    fill: hotpink;
}
#vrouwtjeGeel:hover {
    transform: translateX(-20px);
}

#vrouwtjeGeel:active #Vector_10 {
    fill: hotpink;
    transform-origin: 50% 50%;
    transform: scale(1.3)
transform-box: fill-box;

}
#vrouwtjeBruin_3:hover {
    transform: translateX(-20px);
}
#vrouwtjeBruin_3:active #Vector_20 {
    fill: hotpink;
}
/* -- teksen zijkant */ 
#hotelteksten {
    width: 1vw;
    height: 1vh;
    z-index: 100;
    background-color: #cbbaaa;
    transform: scaleX(1.9);
    transform: scaleY(0.5);
    position: relative;
    width: 100%;
    align-items: left;
    animation: rotate 3s infinite ;
    display: none;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(365deg);
    }
}

#boven {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #cbbaaa ;
    font-family: Koloss;
    color: #997E65;
  margin: 10;
  z-index: 500;
 
}
#rechts {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    writing-mode: vertical-rl;
    transform: scaleX(-1) scaleY(-1);    
    z-index: 400;
    background-color: #cbbaaa;
    font-family: Koloss;
    color: #997E65;
}

#onder {
    position: absolute;
    width: 100%;
    bottom:0 ;
z-index: 400;
    background-color: #cbbaaa;
    font-family: Koloss;
    color: #997E65;

}

#links {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    writing-mode: vertical-rl;
    transform: scaleX(-1) scaleY(-1);
    background-color: #cbbaaa;
    z-index: 700;
    font-family: Koloss;
    color: #997E65;
}

.zijkantTekst {
    font-size: 20px;
   padding: 10px;
}

#links:hover {
    transform: scaleX(1) scaleY(1);
    color:  #cbbaaa;
    background-color: #997E65;
}

#rechts:hover {
    transform: scaleX(1) scaleY(1);
    color:  #cbbaaa;
    background-color: #997E65;
}
#boven:hover {
    transform: scaleX(-1) scaleY(-1);
    color:  #cbbaaa;
    background-color: #997E65;
}
#onder:hover {
    transform: scaleX(-1) scaleY(-1);
    color:  #cbbaaa;
    background-color: #997E65;
}

 #auto_3 {
    animation: auto 4s infinite;
    transform: scaleX(-1) 
  }
  
  @keyframes auto {
    0% {
      transform: translateX(100%);
    }
   
    100% {
      transform: translateX(-100%)
    }
  }

#auto {
    animation: auto2 4s infinite;
    transform: scaleX(-1) 
  }
@keyframes auto2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(100%)
    }
  }

/* -- zon  */ 
  #zon {
    animation: zon 4s infinite;
  }
  
  @keyframes zon {
    0% {
      transform: rotate(0deg);
      
  
    }
    100% {
      transform: rotate(360deg);
  
    }
  }

  /* --- ACHTERGROND --*/
  #achtergrondHorizontal{
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #7d92ad;
    animation:filter 4s infinite;
}
  

@keyframes filter {
    0% {
filter: sepia(0%);
    }
    100% {
filter: sepia(50%);
    }
}

#achtergrondVertical {
    position: absolute;
transform: scale(1.35);
   right:0;
   left: 0;
    bottom: 0;
    top:0;
    z-index: 1;
    background-color: #7d92ad;
    animation: filterVertical 4s infinite;
}
@keyframes filterVertical {
    0% {
filter: sepia(0%);
    }
    100% {
filter: sepia(50%);
    }
}

@media screen and (max-width: 767px) {
    #achtergrondVertical  {
        opacity: 1;
       
    }
    #achtergrondHorizontal{
        opacity: 0;
    }
   
}
@media screen and (min-width: 768px) {
    #achtergrondVertical  {
        opacity: 0;
       
    }
    #achtergrondHorizontal {
        opacity: 1;
    }
   
}
  /* --- golfjes --*/
  /* --- IDEE : on hover de golfjes pas laten bewegen --*/
#golfjes_2 {
    animation: golfjesFloat 5s infinite;
}
@keyframes golfjesFlaot {
    from {
        transform: translate(0, 0px)
    }
    50% {
        transform: translate(5px, 15px);
    }
    100% {
        transform: translate(0, -0px)
    }
}
#golfjes_3 {
    animation: golfjesFlaot1 3s infinite;
    }
    
    @keyframes golfjesFlaot1 {
        from {
            transform: translate(0, 0px)
        }
        65% {
            transform: translate(0, 10px);
        }
        100% {
            transform: translate(0, -0px)
        }
    }

    #golfjes_6 {
        animation: golfjesFlaot2 6s infinite;
        }
        
        @keyframes golfjesFlaot2 {
            from {
                transform: translate(0, 0px)
            }
            50% {
                transform: translate(15px, -5px);
            }
            100% {
                transform: translate(0, -0px)
            }
        }

 #zeeZand  #Vector {
            transform:scaleX(1.5)
        
        }

       #vrouwtjeIndeZee3 {
           transform: translateX(20px;)
       }

#lucht_2 {
    transform: translateY(30px;)
}

