@font-face {
    font-family: 'Koloss';
    src:  url('styles/Koloss.ttf') format('truetype');
  }
* {
  margin: auto;
    padding: 0;
    overflow: hidden;
    
}

body {

    text-align: center;
    font-family: Koloss;
    background-color: #E8C54D;

}



h1 {
    z-index: 600;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    color: #e5dcdd;
    font-size: 2,5em;
    letter-spacing: 3px;
 
}

h2 {
  z-index: 600;
  position: absolute;
  top: 90px;
  width: 100%;
  text-align: center;
  color: #e5dcdd;
  font-size: 2em; 
  letter-spacing: 3px;
}


/* -- lucht */

#vrouwtjes {
    position: absolute;
    width: 100%;
    align-items: center;
    top: 0;
    margin: 0 auto;
    z-index: 10;
    transform: scale(0.7);
   

}
.flipVrouwtjes {
    animation: flip 1s ease-out;
}
@keyframes flip {
0% {
    transform: scaleX(-1);
}
100% {
    transform: scaleX(1);
}
}
#vrouwtjeBlauw:hover {
    transform: translateX(-20px);
    transform: translateY(10px);
}

#vrouwtjeBlauw:active #Vector_3  {
    fill: #e5dcdd;
}
#vrouwtjeGeel:hover {
    transform: translateX(-20px);
    transform: translateY(10px);

}

#vrouwtjeGeel:active #Vector_10 {
    transform-origin: 50% 50%;
    transform: scale(1.9);
transform-box: fill-box;

}
#vrouwtjeBruin_3:hover {
    transform: translateX(-20px);
    transform: translateY(10px);
}
#vrouwtjeBruin_3:active #Vector_20 {
    fill: #351a11;
}


/* -- teksen zijkant 
#hotelteksten {
    width: 1vw;
    height: 1vh;
    z-index: 100;
    background-color: #cbbaaa;
    transform: scaleX(1.9);
    transform: scaleY(0.5);
    position: relative;
    width: 100%;
    align-items: left;
    animation: rotate 3s infinite ease-out ;
    display: none;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(365deg);
    }
}
*/
#boven {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #cbbaaa ;
    font-family: Koloss;
    color: #997E65;
  margin: 10;
  z-index: 500;
  
}



#rechts {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    writing-mode: vertical-rl;
    transform: scaleX(-1) scaleY(-1);    
    z-index: 400;
    background-color: #cbbaaa;
    font-family: Koloss;
    color: #997E65;
}

#onder {
    position: absolute;
    width: 100%;
    bottom:0 ;
z-index: 400;
    background-color: #cbbaaa;
    font-family: Koloss;
    color: #997E65;

}

#links {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    writing-mode: vertical-rl;
    transform: scaleX(-1) scaleY(-1);
    background-color: #cbbaaa;
    z-index: 700;
    font-family: Koloss;
    color: #997E65;
}

.zijkantTekst {
    font-size: 20px;
   padding: 10px;
}

#links:hover {
    transform: scaleX(1) scaleY(1);
    color:  #cbbaaa;
    background-color: #997E65;
}

#rechts:hover {
    transform: scaleX(1) scaleY(1);
    color:  #cbbaaa;
    background-color: #997E65;
}
#boven:hover {
    transform: scaleX(-1) scaleY(-1);
    color:  #cbbaaa;
    background-color: #997E65;
}
#onder:hover {
    transform: scaleX(-1) scaleY(-1);
    color:  #cbbaaa;
    background-color: #997E65;
}

 #auto_3 {
    animation: auto 4s cubic-bezier(.37,.50,1,.3) infinite;
    transform: scaleX(-1);
  }
  
  @keyframes auto {
    0% {
      transform: translateX(100%);
    }
   
    100% {
      transform: translateX(-100%)
    }
  }

  .animate {
    animation: auto2 4s cubic-bezier(.37,.76,.73,.32) infinite;
    transform: scaleX(-1) 
  }

@keyframes auto2 {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(100%)
    }
  }

/* -- zon  */ 
  .zonnetje {
    animation: zon 4s ease;
  }
  
  @keyframes zon {
    0% {
    transform: rotate(0deg);

    }
    100% {
     transform: rotate(360deg);
    }
  }

  /* --- ACHTERGROND --*/
  #achtergrondHorizontal {
    position: absolute;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    background-color: #7d92ad;

  }
  .horizontaal{
 
    animation:filter 4s ease;
}
  

@keyframes filter {
    0% {
filter: sepia(0%);
    }
    100% {
filter: sepia(50%);
    }
}

#achtergrondVertical {
    position: absolute;
transform: scale(1.35);
   right:0;
   left: 0;
    bottom: 0;
    top:0;
    z-index: 1;
    background-color: #7d92ad;
    animation: filterVertical 4s infinite ease;
}
@keyframes filterVertical {
    0% {
filter: sepia(0%);
    }
    100% {
filter: sepia(50%);
    }
}

@media screen and (max-width: 767px) {
    #achtergrondVertical  {
        opacity: 1;
       
    }
    #achtergrondHorizontal{
        opacity: 0;
    }
   
}
@media screen and (min-width: 768px) {
    #achtergrondVertical  {
        opacity: 0;
       
    }
    #achtergrondHorizontal {
        opacity: 1;
    }
   
}
  /* --- golfjes --*/
  /* --- IDEE : on hover de golfjes pas laten bewegen --*/
#golfjes {
    animation: golfjesFloat 5s infinite ease;
}
@keyframes golfjesFloat{
    from {
        transform: translate(0, 0px)
    }
    50% {
        transform: translate(5px, 15px);
    }
    100% {
        transform: translate(0, -0px)
    }
}
#golfjes_3 {
    animation: golfjesFlaot1 3s infinite ease-out;
    }
    
    @keyframes golfjesFlaot1 {
        from {
            transform: translate(0, 0px)
        }
        65% {
            transform: translate(0, 10px);
        }
        100% {
            transform: translate(0, -0px)
        }
    }
 #golfjes_6 {
        animation: golfjesFlaot2 6s infinite ease-in;
        }
        
        @keyframes golfjesFlaot2 {
            from {
                transform: translate(0, 0px)
            }
            50% {
                transform: translate(15px, -5px);
            }
            100% {
                transform: translate(0, -0px)
            }
        }

 #zeeZand  #Vector {
            transform:scaleX(1.5)
        
        }

       #vrouwtjeIndeZee3 {
           transform: translateX(20px)
       }

#lucht_2 {
    transform: translateY(30px)
}

/* 
scale 
media querys 

*/
/*
.badpak{
    animation: color 4s ease-in;
}
@keyframes color {
    0% {
        fill: hotpink;
    }
    100% {
        fill: indigo;
    }
}
*/

/* -- DE PIER-- */
.dePier {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 4;
}



@media screen and (max-width: 767px) {
    h1 , h2{
        color: #ffd9ad;
       
    }
    @media screen and (max-width: 767px) {
       #dePier{
            top: 25%;
            left: -20px;
}

@media screen and (max-width: 767px) {
    #vrouwtjes{
        bottom: -10;
        scale: 0.8;
        transform-origin: 50% 50%;}
    }